@model IEnumerable<Domain.Entities.VillaNumber>



<div class="container">
    <h1 class="text-center bg-success text-white py-3"> Villa Numbers List</h1>
</div>

<div class="card-body border p-4">
    <div class="row p-3">
        <div class="col-6 offset-6 text-end">
            <a asp-controller="VillaNumber" asp-action="Create" class="btn btn-success">
                <i class="bi bi-plus-circle"> </i>   Create New Villa Number
            </a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr class="table-header">
                <th class="header-name"> Villa Name </th>
                <th class="header-price">Villa Number </th>
                <th class="header-sqft">Special Details </th>
                <th class="align-content-center">Update</th>
                <th class="align-content-center">Delete</th>

            </tr>
        </thead>

        <tbody>
            @foreach (var obj in Model)
            {
                <tr>
                    <td>
                        @obj.Villa.Name
                    </td>
                    <td>
                        @obj.Villa_Number
                    </td>
                    <td>
                        @obj.SpecialDetails
                    </td>
                    

                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="VillaNumber" asp-action="Update" asp-route-VillaNumberId="@obj.Villa_Number"
                               class="btn btn-success mx-2">
                                <i class="bi bi-pencil-square"></i> Update
                            </a>

                        </div>
                    </td>

                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="VillaNumber" asp-action="Delete" asp-route-VillaNumberId="@obj.Villa_Number"
                               class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i> Delete
                            </a>

                        </div>
                    </td>

                </tr>
            }
        </tbody>

    </table>

</div>

